<!DOCTYPE html>
<html>
<head>
	<title>Login Post</title>
</head>
<body>
	<h1>Login Post</h1>
	<% if (user) { %>
  		<h2>Saludos, soldado <%= user %> viva !America¡ </h2>
  			<img width="500px" src="https://png.pngtree.com/png-clipart/20190925/original/pngtree-usa-flag-png-vertical-american-day-party-grunge-style-effect-png-image_4888756.jpg">
	<% } else { %>
	<h2>La cagaste, !Sovietico comunista¡</h2>
	<img width="500px" src="https://conceptodefinicion.de/wp-content/uploads/2016/02/Uni%C3%B2n-sovi%C3%A8tica.jpg">
	<% } %>
</body>
</html>