<!DOCTYPE html>
<html>
<head>
	<title>Registro Useuario</title>
</head>
<body>
	<h1>Register</h1>
	<form action ="/login" method="post" >
		Nom: <input type="text" name="username" >
		<br>
		Password: <input type="password" name="password" >
		<br>
		email: <input type="text" name="email" >
		<br>
		<input type="submit" name="Login">
	</form>
</body>
</html>